<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="platforms" type="CommonLib.Configuration.PlatformSection, CommonLib" />
    <section name="clients" type="CommonLib.Configuration.ClientSection, CommonLib" />
    <section name="servers" type="CommonLib.Configuration.ServerSection, CommonLib" />
  </configSections>
  <appSettings>
    <!-- 服务器名-->
    <add key="ServerName" value="Archer登录服" />
    <!--对外web端口-->
    <add key="WebPort" value="7000" />
    <!--GameKey所有服务保持一至-->
    <add key="GameKey" value="!@@#$$~123AbcdEfTTsaef" />
    <!--调试模式 1调试打印消息日志 0运行模式不打印-->
    <add key="DebugModel" value="0" />
    <!--畅游日志文件存放路径-->
    <!--<add key="CyLogFilePath" value="../cylog/" />-->
    <!--服务器标识 正式服zhengshi 提审服tishen  目前只有两个-->
    <add key="ServerTag" value="zhengshi"/>
  </appSettings>
  <platforms>
    <platform name="cysdk" appid="1590028813409" appkey="57d00545cd13465b9e96e33493b297d2" paykey="!@@#$$~123AbcdEf" apiurl="https://nsdk.gaming.com/" />
  </platforms>
  <clients>
    <!--LoginServer做为客户端连接到CenterServer配置-->
    <client name="LoginToCenterClient" ip="127.0.0.1" port="13000" />
  </clients>
  
</configuration>