<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="platforms" type="CommonLib.Configuration.PlatformSection, CommonLib" />
    <section name="clients" type="CommonLib.Configuration.ClientSection, CommonLib" />
    <section name="servers" type="CommonLib.Configuration.ServerSection, CommonLib" />
  </configSections>
  <appSettings>
    <!-- 服务器名-->
    <add key="ServerName" value="Archer中央服" />
    <!--调试模式 1调试打印消息日志 0运行模式不打印-->
    <add key="DebugModel" value="1" />
    <!--单服在最高在线人数 注意:GameServer连接数要大于此值，最好多预留一些-->
    <add key="SingleServerOnlineMax" value="3000"/>
  </appSettings>
  <servers>
    <!--CenterServer做为服务 LoginServer做为客户端进行连接-->
    <server name="LoginToCenterServer" ip="Any" port="13000" maxConnection="1" />
    <!--CenterServer做为服务 GameServer做为客户端进行连接-->
    <server name="GameToCenterServer" ip="Any" port="13001" maxConnection="100" />
    <!--CenterServer做为服务 GMServer做为客户端进行连接-->
    <server name="GMToCenterServer" ip="Any" port="13002" maxConnection="1" />
  </servers>
</configuration>