<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="platforms" type="CommonLib.Configuration.PlatformSection, CommonLib" />
    <section name="clients" type="CommonLib.Configuration.ClientSection, CommonLib" />
    <section name="servers" type="CommonLib.Configuration.ServerSection, CommonLib" />
  </configSections>
  
  <appSettings>
    <!-- 服务器名-->
    <add key="ServerName" value="MyPro游戏服" />

    <!-- GameKey 所有Server保持一至-->
    <add key="GameKey" value="!@@#$$~123AbcdEfTTsaef" />

    <!--调试模式 0调试打印消息日志 1运行模式不打印-->
    <add key="DebugModel" value="0" />
    
  </appSettings>

  <servers>
    <!--GameServer做为服务 GameClicent进行连接   端口占用自动垒加 netIP 外网IP(用于客户端连接改成了自动获取本机IP) Auto使用自动获取本机IP -->
    <server name="ClientToGameServer" ip="Any" port="3000" netIP="127.0.0.1" autoPort="true" maxConnection="5000" />
  </servers>
  <clients>
    <!--GameServer做为客户端连接到CenterServer配置-->
    <client name="GameToCenterClient" ip="127.0.0.1" port="13001" />
  </clients>
</configuration>